*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/* Seccion del Banner Mobile 0px hasta 576 px*/

.banner-container{
    background-size: cover;
    background-color: #BEA877;
    background-blend-mode: multiply;
}

.header-links{
    display: none;
}

.logo{
    width: 100%;
    height: 100%;
}

.store{
    font-size: 1.2em;
    display: initial;
}

.store p{
    font-size: 1.1em;
    font-weight: bolder;
}

.banner-texto h1{
    margin-bottom: 200px;
    color: #F5F4EF;
    font-size: 1.875rem;
    font-family: 'Fahkwang', sans-serif;
    font-weight : bold;
    letter-spacing: 0.0625rem;
    word-spacing: 0.125rem;
}

.cart-icon{
    width: 1.4em;
    padding-top: 0.3rem;
    margin-right: 0.7rem;
}

.banner-container a, .banner-container a p{
    color: white;
    font-size: 1.5rem !important;
    font-family: 'Open Sans Condensed' ,serif;
    text-decoration: none;
}

/* Seccion del Banner - Tableta 576 px a 992 px */

@media (min-width: 576px){
    .logo{
        width: 75%;
        height: 75%;
    }
}

@media (min-width: 768px){
    .header-links{
        display: initial;
    }

    .store{
        display: none;
    }
    .banner-texto{
        margin-top: 100px;
    }
}

/* Seccion del Banner - Desktop 992px en adelante */

@media (min-width: 992px){
    .banner-texto{
        margin-top: 100px;
        margin-bottom: 50px;
    }
}

/* Seccion info marca - Mobile 0px hasta 576px */

.contenedor-info-marca{
    padding-top: 100px;
}

.botones{
    background-color: #D6C8A8;
    padding: 0.5em 0em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.botones h3{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight : bold;
    font-size : 1.875rem;
    color : white;
    text-decoration: none;
}

.contenedor-info-marca p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight : lighter;
    font-size : 1.5em;
    color : black;   
}

.contenedor-texto-info-marca2{
    display: none;
}

/* Seccion info marca - Tableta 576 px a 992 px */

@media (min-width: 576px){
    .contenedor-info-marca p{
        font-size: 1.7em;
    }
}

@media (min-width: 768px){
    .contenedor-texto-info-marca{
        display: none;
    }
    .botones{
        background: none;
    }
    .botones h3{
        width: 100%;
        background: #D6C8A8;
        padding: 0.4em 0em;
        font-size: 1.4em;
        margin-bottom: 0;
    }
    .contenedor-texto-info-marca2{
        display: inherit;
        height: 450px;
    }
    .contenedor-info-marca{
        padding-bottom: 100px;
        border-bottom: 3px solid #F5F4EF;
    }
}

/* Seccion info-marca - Desktop 992px en adelante */

@media (min-width: 992px){
    .botones h3{
        font-size: 1.7em;
    }

    #marca h3{
        background-color: #BEA877;
    }

    .contenedor-texto-info-marca2{
        height: 550px;
    }

    .contenedor-info-marca p{
        font-size: 2em;
    }
}

/* Seccion noticias - Mobile 0px hasta 576px */

.contenedor-noticias{
    padding-top: 100px;
    padding-bottom: 50px;
}

.contenedor-noticias2{
    display: flex;
    justify-content: center;
}

.contenedor-noticias h3, .contenedor-noticias h2{
    font-size: 2.2em;
    font-family : 'Open Sans Condensed',serif;
    font-weight : bold;
    letter-spacing: 0.0625rem;
    word-spacing: 0.125rem;
}

.contenedor-noticias p{
    font-family: 'Open Sans Condensed',serif;
    font-size: 1.3em;
}

.contenedor-noticias a{
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}

.descripcion-noticia{
    display: block;
    height: 220px;
}

.contenedor-noticia1{
    height: 400px;
    background: url('../svg/moda.svg') center / cover;
    background-blend-mode: screen;
}

.contenedor-noticia2{
    height: 400px;
    background: url('../svg/sustentabilidad.svg') center / cover;
    background-blend-mode: screen;
}

.contenedor-noticia3{
    height: 400px;
    background: url('../svg/emprendedurismo.svg') center / cover;
    background-blend-mode: screen;
}

.info-noticia{
    display: none;
}

.contenedor-categoria h2{
    color: white;
    font-size: 1.8em;
    background-color: #000;
    opacity: 0.5;
    padding: 0.4em 0;
    border-radius: 5%;
    text-align: center;
}

.categoria{
    height: 100%;
    display: flex;
}

/* Seccion noticias - Tableta 576 px a 992 px */

@media (min-width: 576px){

}

@media (min-width: 768px){
    .contenedor-noticia1{
        margin: 0 !important;
        border-right: 5px solid #fff;
        border-left: 5px solid #fff;
    }
    .contenedor-noticia2{
        margin: 0 !important;
        border-right: 5px solid #fff;
        border-left: 5px solid #fff;
    }
    .contenedor-noticia3{
        margin: 0 !important;
        border-right: 5px solid #fff;
        border-left: 5px solid #fff;
    }
    .contenedor-noticias2 h3{
        font-size: 1.7em;
    }
    .contenedor-noticias p{
        font-size: 1em;
        margin-left: 10% !important;
        margin-right: 10% !important;
    }
    .contenedor-noticias{
        padding-bottom: 150px;
    }
}

/* Seccion noticias - Desktop 992px en adelante */

@media (min-width: 992px){
    .contenedor-noticias2 h3{
        font-size: 1.9em;
    }
    .contenedor-noticias p{
        font-size: 1.2em;
    }
    .contenedor-noticias p a{
        font-size: 1.4em;
    }
}

/* Seccion contacto - Mobile 0px hasta 576px */

.contenedor-contacto{
    padding-top: 50px;
    background-color: #D6C8A8;
    padding-bottom: 50px;
}

.icon{
    width: 50%; 
}

.icon:hover{
    background-color: #F5F4EF;
    border-radius: 100%;
}

/* Seccion contacto - Tablet 576px hasta 992px */

@media (min-width: 576px){
    
}

@media (min-width: 768px){
    .icon{
        width: 75%;
    }
}

/* Seccion contacto - Desktop 992px en adelante */

@media (min-width: 992px){
    .icon{
        width: 50%;
    }
}

/* Seccion Pie Pagina - Mobile 0px hasta 576px */

.contenedor-pie-pagina2{
    display: none;
}

.contenedor-pie-pagina2 a{
    color: #212529;
}

.contenedor-pie-pagina{
    background-color: #D6C8A8;
    border-top: 1px solid #BEA877;
}

.contenedor-pie-pagina img{
    width: 75%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.contenedor-pie-pagina p{
    font-family: 'Fahkwang', sans-serif;
    font-size: 1.1em;
}
/* Seccion Pie Pagina - Tablet 576px hasta 992px */

@media (min-width: 576px){

}

@media (min-width: 768px){
    .contenedor-pie-pagina{
        display: none;
    }

    .contenedor-pie-pagina2{
        display: flex;
        background-color: #D6C8A8;
        border-top: 1px solid #BEA877;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .contenedor-pie-pagina2 h3{
        font-family: 'Fahkwang', sans-serif;
        font-size: 1.2em;
        font-weight: 900;
    }

    .contenedor-pie-pagina2 p{
        font-family: 'Fahkwang', sans-serif;
        font-size: 1.1em;
        margin-bottom: 0px;
    }

    .contenedor-pie-pagina2 img{
        width: 75%;
    }
}   

/* Seccion Pie Pagina - Desktop 992px en adelante */

@media (min-width: 992px){
    .contenedor-pie-pagina2 img{
        width: 50%;
    }
}

/*Comienzan los estilos del backoffice*/


.header{
    height: 100px;
}

.header h1{
    color: white;
    font-family: 'Playfair Display', serif;
}

.login-container{
    margin-top: 150px;
}

.boton-ingreso{
    background-color: #D6C8A8;
    border: none;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.boton-ingreso:hover{
    background-color: #BEA877
}

.contenido .modulos a{
    display: block;
    background-color: #D6C8A8;
    height: 5em;
    padding-top: 1.8em;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.background-image-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.background-image-label {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #BEA877;
    display: inline-block;
    transition: all .5s;
    padding: 0.625rem 1.5625rem !important;
    width: fit-content;
    text-align: center;
    }

.background-image-label:hover {
    opacity: 0.7;
}

.contenedor-imagen{
    background-size: cover;
    background-color: #BEA877;
    background-blend-mode: multiply;
    min-height: 500px;
    max-height: 550px;
}



