.banner-container{
    background-size: cover;
}

.logo{
    width: 14.0625rem;
    height: 14.0625rem;
}

.cart-icon{
    width: 1.4em;
    padding-top: 0.3rem;
    margin-right: 0.7rem;
}

.banner-container a, .banner-container a h3{
    color: white;
    font-size: 1.25rem !important;
    font-family: 'Playfair Display' ,serif;
    text-decoration: none;
}

.banner-texto h2{
    margin-top: 100px;
    margin-bottom: 300px;
    color: #F5F4EF;
    font-size: 1.875rem;
    font-family : 'Playfair Display',serif;
    font-weight : bold;
    letter-spacing: 0.0625rem;
    word-spacing: 0.125rem;
}

.contenedor-info-marca{
    padding-top: 100px;
    min-height: 800px;
}
.botones{
    background-color: #D6C8A8;
    margin-right: 0.833rem;
}

.botones:hover{
    background-color: #BEA877;
}

.botones h3 a{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight : bold;
    font-size : 1.875rem;
    color : white;
    text-decoration: none;
}

.contenedor-info-marca p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight : lighter;
    font-size : 2em;
    color : black;
}

.contenedor-texto-info-marca{
    min-height: 500px;
}

.boton{
    background-color: #BEA877;
    margin-top: 10px;
    margin-bottom: 100px;
}

.contenedor-noticias{
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}

.contenedor-noticias h3{
    color: #000;
    font-size: 2.2em;
    font-family : 'Playfair Display',serif;
    font-weight : lighter;
    letter-spacing: 0.0625rem;
    word-spacing: 0.125rem;
}

.contenedor-noticia1{
    min-height: 400px;
    background: url('../images/moda.jpg') center / cover;
}

.contenedor-noticia1:hover{  
    background: url('../images/moda.jpg') center / cover, #D6C8A8;
    background-blend-mode: screen;
}

.contenedor-noticia2{
    min-height: 400px;
    background: url('../images/reciclaje.jpg') center / cover;
}

.contenedor-noticia2:hover{
    min-height: 400px;
    background: url('../images/reciclaje.jpg') center / cover, #D6C8A8;
    background-blend-mode: screen;
}

.contenedor-noticia3{
    min-height: 400px;
    background: url('../images/lorem.jpg') center / cover;
}

.contenedor-noticia3:hover{
    min-height: 400px;
    background: url('../images/lorem.jpg') center / cover, #D6C8A8;
    background-blend-mode: screen;
}

.info-noticia{
    display: none;
}

.contenedor-noticias a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.icon{
    width: 1.5625rem; 
}

.contenedor-contacto{
    padding-top: 125px;
    padding-bottom: 125px;
}

.contenedor-contacto p{
    font-size: 1.2em;
}

.contenedor-contacto a{
    color: #212529;
}

#direccion1:hover, #direccion2:hover{
    text-decoration: underline;
}

#map{
    border: 1px solid #BEA877;
}

.pie-pagina{
    border-top: 1px solid #BEA877;
}

.pie-pagina img{
    width: 75%;
}

.pie-pagina a{
    color: #000;
    font-weight: bold;
}

.pie-pagina a:hover{
    text-decoration: none;
}

/*Comienzan los estilos del backoffice*/

.header{
    height: 100px;
}

.backoffice-logo{
    width: 9rem;
    height: 9rem;
}

.header h1{
    color: white;
    font-family: 'Playfair Display', serif;
}

.contenido .modulos a{
    display: block;
    background-color: #D6C8A8;
    height: 5em;
    padding-top: 1.8em;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.background-image-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.background-image-label {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #BEA877;
    display: inline-block;
    transition: all .5s;
    padding: 0.625rem 1.5625rem !important;
    width: fit-content;
    text-align: center;
    }

.background-image-label:hover {
    opacity: 0.7;
}

.contenedor-imagen{
    min-height: 400px;
    max-height: 500px;
}

